@use 'sass:math';
@use 'sass:meta';

$pi: 3.14159265359;
$px-393-width: 393; // iPhone 15 Size
$px-393: math.div($px-393-width, 100);

$px-1920-width: 1920; // PC Size
$px-1920: math.div($px-1920-width, 100); 

/**
* 数値のみの場合はvwに変換
*/
@function psd($px) {
  @if (meta.type-of($px) == 'number' and math.is-unitless($px)) {
    @return math.div($px * 1vw, $px-393);
  } @else {
    @return $px
  }
}

@mixin small {
  @media screen and (max-width:827px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width:828px) {
    @content;
  }
}
$large:  "(min-width:828px)";
$small:  "(max-width:827px)";